:host {
    display: block;
    width: 300px; 
  }
  .mat-dialog-container {
    padding: 16px;
  }
  h2 {
    margin-top: 0;
    border-bottom: 1px solid #ccc
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
  } 
  button {
    margin-left: 8px;
  }
  .cancel-btn
  {
    color:grey;
    border:1px solid #8c8f92;
  }
  .confirm-btn{
    background-color: #235D9F;
    color:white
  }