<mat-toolbar style="padding:initial;">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon style="color: #333333;">menu</mat-icon>
  </button>
  <img style="width: 274px; height: 42px; margin-top: 5px;" mat-card-image src="assets/Images/chatbot-logo.png" />
  <span style="flex: 1 1 auto;"></span>
  <button mat-button style="position: relative; top: 2px; border: none;">
    <span style="color:#333333;margin-right: 10px;">Hello</span> <b><span style="color: #333333 !important">{{ username
        }}</span></b>
  </button>
  <!-- <mat-icon (click)="openPdfDialog()" style="padding: 2px;">contact_support</mat-icon>
  <mat-icon style="padding: 2px; margin-right: 10px;">notifications_none</mat-icon> -->
  <button mat-button color="grey" style="border: 1px solid grey ; border-radius: 18px; margin-right: 10px;background-color: #fff;"
    (click)="logout()">Logout</button>
</mat-toolbar>
<mat-sidenav-container style="height:93vh;" autosize>
  <mat-sidenav style="background: #0c4da2 !important;" [opened]="true" mode="side" class="sidenav">
    <p>
      <a mat-list-item>
        <span *ngIf="!isCollapsed" class="entry">
          <mat-nav-list *ngFor="let item of menu">
            <ng-container *ngIf="!item.subMenu; else nestedList">
              <div class="list-item">
                <a mat-list-item [routerLink]="item.path" [routerLinkActive]="'active-link'" class="list-items">
                  <mat-icon mat-list-icon>{{item.icon}} </mat-icon>
                  <span (click)="handleClick(item.title)" mat-line>{{item.title}}</span>
                </a>
              </div>
            </ng-container>
            <ng-template #nestedList>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>{{item.icon}}</mat-icon>
                    {{item.title}}
                  </mat-panel-title><br>
                </mat-expansion-panel-header>
                <mat-list>
                  <a mat-list-item *ngFor="let child of item.subMenu">
                    <mat-icon mat-list-icon>{{child.icon}}</mat-icon>
                    <span (click)="handleClick(child.title)" mat-line>{{child.title}}</span>
                    <br>
                  </a>
                </mat-list>
              </mat-expansion-panel>
            </ng-template>
          </mat-nav-list>
        </span>
      </a>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>